@charset "utf-8";

.kv-drp-dropdown .range-value {
    padding-left: 4rem;
}

.kv-drp-dropdown .left-ind, .kv-drp-dropdown .right-ind {
    top: 0.8rem;
}

.kv-drp-dropdown .kv-clear {
    padding: 0 1.3rem;
    top: 1.0rem;
    display: none;
}

.kv-drp-container .kv-drp-dropdown {
    width: 250px;
}

#drp-container {
    width: 250px;
}

.stat-table td {
    white-space: nowrap;
    text-align: center;
}
.stat-table td.param {
    white-space: nowrap;
    text-align: left;
}

.stat-table th {
    white-space: nowrap;
    text-align: center;
}

.stat-table th.param {
    white-space: nowrap;
    text-align: left;
}


.stat-table tr {
    white-space: nowrap;
    text-align: left;
}

#left-param {
    padding-left: 0px;
    padding-right: 0px;
}

.right-stat {
    padding-left: 0px;
    padding-right: 0px;
}
.affix {
    position: unset;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}


.submit {
    display: inline-block;
}

#date-interval-container {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 20px;
}